server.host: "0.0.0.0"
logging:
  appenders:
    file:
      type: file
      fileName: {{ kibana_log_path }}
      layout:
        type: json
  root:
    appenders:
      - default
      - file
pid.file: /run/kibana/kibana.pid
